<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <style>
    div {
      padding: 1em;
      text-align: start;
      height: 50vh;
      background-color: gray;
    }
    button {
      padding: 1em;
      background-color: rgb(255, 98, 98);
    }
  </style>
  <body>
    <h1>Dashboard</h1>
    <div>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit odio
        eius excepturi eaque officiis eos voluptatum adipisci? Sed, magnam ab
        temporibus quod vitae officiis omnis, tempore dolore nobis doloribus
        molestiae!
      </p>
    </div>
    <br />
    <form action="/logout" method="post">
      <button>Logout</button>
    </form>
  </body>
</html>
